@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --text-light: #fdfcf9;
  --font-text: 'Open Sans', sans-serif;
  --background-black: #0000000d;
  --background-light-green: #f4fce3;
  --text-dark-green: #2e4426;
  --border-green: #cde4b1;
  --light-green: #3f6212;
  --background-green: #65a30d;
  --intro-green: #3a4e2b;
  --text-light-green: #5f7d3a;
  --background-page: #cbddd1;
  --header-height: 4rem;
  --background-page2: #88a57a;
}


body {
  font-family: var(--font-text);
  background-color: var(--text-light);
  color: var(--backgroung-light-blue);
}

main {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-page2);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
